.formulario{
    background-color: #efecec;
    margin-left: -15px;
    margin-right: -15px;
    padding: 40px 15px 40px 15px;
    box-shadow: 0 5px 5px #8f8d8d;
    &__grupo{
        margin-bottom: 15px;
    }
    
    &__campo{
        width: 100%;
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        padding: 10px 5px; /* 10px-vertical 5px-horizontal */
    }
    
    &__label{
        color: #343434;
    }
    
    &__botao{
        border: 3px solid $cor-principal;
        border-radius: 300px;
        background-color: #fff;
        color: $cor-principal;
        padding: 5px 20px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        font-weight: bold;
    }
}
