.mapa{
    background: $cor-principal;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 -15px -25px -15px;
}
.mapa iframe{
    width: 100% !important; /* !important vai sobrescrever qualquer propriedade que o iframe venha a ter quando vc pega ele do Google Maps */
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}