.pagina-conteudo{
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    & p{
        color: $cor-leitura;
        line-height: 22px; /* Espaçamento */
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
